.vscode
dot/.config/nvim/plugin/packer_compiled.lua
dot/.config/yazi/plugins/
/dot/.omp/agent/config.yml.lock
/dot/.omp/agent/config-work.yml.lock
/dot/.omp/agent/config-deepseek.yml.lock
/dot/.omp/agent/config-free.yml.lock

.DS_Store
